.workspace-leaf-content[data-type='msg-handler-view'] {
	user-select: text;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.oz-msg-handler-body,
.oz-msg-handler-header,
.oz-msg-handler-attachments {
	padding: 14px;
	width: 100%;
	border-radius: 7px;
	background-color: var(--background-secondary);
}

.msg-handler-plugin-search .search-result-file-matches {
	padding: 5px;
}

.msg-handler-plugin-search .search-result-container {
	padding-left: 0px;
	padding-right: 0px;
}

.oz-msg-handler-body,
.oz-msg-handler-header {
	margin-bottom: 10px;
}

.workspace-leaf-content[data-type='msg-handler-view'] .external-link {
	text-decoration: none;
	color: var(--text-muted);
}

.workspace-leaf-content[data-type='msg-handler-view'] p {
	margin: 5px 0px 5px 0px;
}

.MSG_HANDLER_ENVELOPE_ICON {
	fill: var(--icon-color) !important;
}

.oz-highlight {
	background-color: yellow;
	border: 0.5px solid black;
}

.oz-searchbox-container,
.oz-searchbox-container input {
	width: 100%;
}

.oz-msg-handler-actions-items {
	text-align: center;
	padding: 3px 2px 0px 2px;
	background-color: var(--background-secondary-alt);
	margin-bottom: 7px;
	border-radius: 5px;
}

.oz-msg-handler-header-fixed {
	position: sticky;
	top: 0;
	padding-left: 4px;
	padding-right: 4px;
	z-index: 100;
}

.oz-msg-handler-action-button {
	color: var(--text-muted);
	display: inline-block;
	padding: 0px 0px 0px 2px;
	margin-left: 5px;
	opacity: 0.5;
	border-radius: 8px;
	opacity: 1;
}

.oz-msg-handler-action-button:hover {
	opacity: 0.6;
}

.oz-msg-handler-action-button svg {
	vertical-align: middle !important;
}

.msg-handler-react-icon {
	vertical-align: middle !important;
	padding-bottom: 2px;
}

.msg-handler-react-icon:hover {
	opacity: 0.6;
	cursor: pointer;
}

.workspace-tab-header.is-active[aria-label='MSG Handler Search'] svg {
	fill: var(--icon-color-focused);
}

.oz-cursor-pointer {
	cursor: pointer;
}

.oz-attachment-display {
	margin-top: 10px;
}

.oz-msg-attachment-name button {
	cursor: pointer;
	margin-left: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.oz-msg-single-attachment-wrapper {
	margin-top: 3px;
}

.oz-msg-header-name,
.oz-msg-attachments-header-name,
.oz-msg-attachments-body-name {
	color: var(--text-muted);
}

.oz-msg-handler-coffee-div,
.oz-msg-handler-tip-div {
	text-align: center;
	margin-top: 10px;
}

.oz-msg-handler-tip-div img {
	border-radius: 10px;
}

.oz-msg-handler-preview-render {
	max-height: 400px;
	overflow: scroll;
	border-left: var(--embed-border-left);
	padding: var(--embed-padding);
}
